@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos-slide {
    display: flex;
    animation: slide 35s infinite linear;
  }
  
  .text-shadow {
    text-shadow: 0 0 5px #fff, 0 0 3px #f39c12, 0 0 1px #f39c12;
  }
  
  